* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to top, #dbdbd2 75%, #009688 74%);
  height: 100vh;
}
.app-wrapper {
  margin: 20px 250px;
  height: 850px;
  /* width: 80%; */
  background-color: #ffffff;
}
/* general */

p {
  font-size: 12px;
  color: #b1b1b1;
}
.fas {
  color: #b1b1b1;
}
.circle {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.vl {
  border-left: 1px solid #dedede;
  height: 60px;
}
/* general */

/* header */
header {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}
/* left */
.head-left {
  padding: 0 10px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-img {
 display: flex;
 align-items: center;
}

.icons i {
  padding-left: 10px;
}
/* right */
.head-right {
  width: 70%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
/* header */
